html.black {
    filter: invert(1);
}

html.black img,
html.black .share,
html.black .vtag {
    filter: invert(1);
    color: #000;
}

html.black .invert {
    filter: invert(1);
}

html.gray {
    filter: grayscale(1) !important;
}


html.black.gray {
    filter: invert(1) grayscale(1) !important;
}

html {
    overflow: hidden
}

html body {
    clear: both;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

i {
    font-style: normal;
}

.vsys i {
    margin: 0 3px;
}

.main {
    clear: both;
    overflow: auto;
    height: 100%;
}

.main .autopagerize_page_element {
    clear: both;
    overflow: auto;
    height: 100%;
}


.mode-change {
    display: block;
    position: fixed;
    top: 10px;
    /* left: 20px; */
    right: 20px;
    user-select: none;
    cursor: pointer;
    z-index: 9;
}

.mode-change .big-font {
    opacity: .8;
    font-weight: 900;
    font-size: 20px;
    user-select: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.mode-change .sm-font {
    transform: translate(50%, -50%);
    opacity: .5;
    font-weight: 900;
    font-size: 16px;
    user-select: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 16px;
    box-shadow: -8px -8px 15px 0px rgba(0, 0, 0, 0.5);
}

.fa-bilibili {
    background: red;
    width: 24px;
    height: 24px;
}

.footer .friend-links {
    display: block;
}

.footer .friend-links span {
    font-weight: bolder;
}

.footer .friend-links .link-item {
    margin-left: 3px;
    font-style: normal;
}

.sidebar {
    user-select: none;
}

.footer {
    user-select: none;
}

.sidebar .blog-links {
    margin-top: 0;
    list-style: none;
    padding: 0;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
}

.sidebar .blog-links i {
    margin-right: 3px;
    font-style: normal;
}

.sidebar .blog-links li {
    display: inline;
    padding: 0 4px;
    line-height: 0;
}

.sidebar .blog-links a {
    color: #565654;
}

.sidebar .blog-links a:hover {
    color: #4786D6;
}

.content .footer {
    display: none;
}

.post .post-title .m20 {
    margin: 20px 30px;
}

.post .post-content p {
    text-indent: 2em;
}

.post .post-content table {
    width: 100%;
    border-width: 1px;
    border-spacing: 0;
    border-style: solid;
}

.post .post-content th {
    border-width: 1px;
    border-spacing: 0;
    border-style: solid;
}

.post .post-content td {
    border-width: 1px;
    border-spacing: 0;
    border-style: solid;
}

@media screen and (max-width: 960px) {
    .content .footer {
        display: block;
        position: unset;
        margin-top: 20px;
    }

    .page-top .information .back_btn li {
        padding-right: 15px;
    }

    .post .post-title .m20 {
        margin: 20px;
    }
}